h1 {
  font-weight: 400;
  font-size: 2em;
}

.wrapperList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 90%;
  width: 30%;
  margin-right: 20px;
}
.wrapperList > p {
  font-weight: bolder;
  display: flex;
  justify-self: baseline;
}
.filterContainer {
  text-align: left;
  width: 100%;
  height: 20%;
}
.filterInput {
  padding: 15px;
  border-style: none;
  width: 90%;
  border-radius: 50px;
  background-color: rgba(239, 241, 247, 255);
}
.filter{
  height: 5vh;
  padding: 5px;
  display: flex;
  background-color:rgba(239, 241, 247, 255);
  border-radius: 50px;
}

.searchButton {
  border-style: none;
  border-radius: 50px;
}
.listContainer {
  padding: 0 2vw 0 1vw;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  text-align: left;
  overflow: auto;
}
.listContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 0.5px; 
  background-color: rgba(136, 136, 136, 255);
}

.imageIcon {
  height: 2.5em;
  border-radius: 50%;
  margin-right: 5px;
}
.searchIcon{
  height: 2em;
  }

.coinCard {
  border-radius: 1rem;
  padding: 8px;
  align-items: start;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 12%;
  width: 95%;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.coinCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px #727272;
}

  
.descriptionTags {
  letter-spacing: 1px;
  margin: 5px;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.leftSideWrapper {
  text-align: left;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.leftSideContainer {
  text-align: left;
}
.horizontalLine{
  .horizontal-line {
    border: none;
    border-top: 1px solid #000;
  }
}

#nameTag {
  font-weight: bolder;
  margin-top: 0px;
}
#symbolTag {
  font-weight: lighter;
  color: rgba(136, 136, 136, 255);
}

#priceTag {
  font-weight: bolder;
  margin: 0px;
}
#cryptoTag {
  margin-bottom: 10px;
}