.graphContainer {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  border-radius: 20px;
  height: 90%;
  background-color: black;
  color: #fff;
  margin-left: 20px;
}
.graphLeftSide{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width:  70%;
}
.graphRightSide{
  height: 80%;
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.graphTitle{
  margin: 0px;
 font-size: 50px;
 font-weight: 200;
}
.headerSection{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.introductionContainer{
  width: 70%;
}
.nameText{
  color: black;
  font-weight: bold;
  background-color: rgba(194,238,10,255);
  height: 5vh;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-self: baseline;
  justify-content: center;
  border-radius: 2rem;
}
.priceText{
  align-self: flex-end;
  font-size: 1.5rem;
  font-weight: bold;
}

.graphPriceContainer{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  width: 42vw;
  height: 60%;
}

.descriptionText {
  color:  #727272;
  font-size:small;
}